<!DOCTYPE html>
<html>
  <head>
    <title>Cache Out</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('/favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <meta property="og:title" content="Cache Out" />
    <meta property='og:image' content="<%= image_url('amzn-screenshot.png') %>"/>
    <meta property="og:description"
      content="Cache Out is my own rendition of the popular securities trading app Robinhood. New users can start with up to $10 million in cash and buy or sell shares of over 8,000 companies/various securities on the NYSE/Nasdaq. Make informed decisions with interactive company price graphs and track your portfolio's performance overtime with up to the minute market data.."
    />
    <meta property="og:url"
      content="https://cache-out.herokuapp.com/#/"
    />
    <script type="text/javascript">
      window.github_pic = "<%= image_url('ghub.png') %>"; 
      window.info_pic = "<%= image_url('infopage.png') %>"; 
      window.iphone_splash_pic = "<%= image_url('iphone_splash.png') %>"; 
      window.partial_shares_pic = "<%= image_url('partial_shares_pic.png') %>"; 
      window.linkedin_pic = "<%= image_url('linkedin.png') %>"; 
      window.logo_pic = "<%= image_url('logo.png') %>"; 
      window.iphone_vid = "<%= image_url('iphone.mp4') %>";
      window.learn_pic = "<%= image_url('learn.png') %>";
      window.manage_pic = "<%= image_url('manage.png') %>";
      window.customize_pic = "<%= image_url('customize.png') %>";
      window.signin_bg_pic = "<%= image_url('signin_bg.png') %>";
      window.angellist_pic = "<%= image_url('angellist.jpg') %>";
      window.newsapikey = "<%= Rails.application.credentials.news[:api_key] %>"
      window.stockapikey = "<%= Rails.application.credentials.stockapi[:api_key] %>"
      window.iexapikey = "<%= Rails.application.credentials.iexapikey[:api_key] %>"
    </script> 
  </head>

  <body data-theme="light">
    <%= yield %>
  </body>
</html>
