<!DOCTYPE html>
<html>
  <head>
    <title>Robinhood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.github_pic = "<%= image_url('github.jpg') %>"; //
      window.info_pic = "<%= image_url('info.png') %>"; //
      window.iphone_splash_pic = "<%= image_url('iphone_splash.png') %>"; 
      window.linkedin_pic = "<%= image_url('linkedin.png') %>"; //
      window.logo_pic = "<%= image_url('logo.png') %>"; //
      window.iphone_vid = "<%= image_url('iphone.mp4') %>";
      window.signin_bg_pic = "<%= image_url('signin_bg.png') %>"; //
    </script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
