<!DOCTYPE html>
<html>
  <head>
    <title>Cache Out</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('/favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <script type="text/javascript">
      window.github_pic = "<%= image_url('ghub.png') %>"; 
      window.info_pic = "<%= image_url('infopage.png') %>"; 
      window.iphone_splash_pic = "<%= image_url('iphone_splash.png') %>"; 
      window.partial_shares_pic = "<%= image_url('partial_shares_pic.png') %>"; 
      window.linkedin_pic = "<%= image_url('linkedin.png') %>"; 
      window.logo_pic = "<%= image_url('logo.png') %>"; 
      window.iphone_vid = "<%= image_url('iphone.mp4') %>";
      window.learn_pic = "<%= image_url('learn.png') %>";
      window.manage_pic = "<%= image_url('manage.png') %>";
      window.customize_pic = "<%= image_url('customize.png') %>";
      window.signin_bg_pic = "<%= image_url('signin_bg.png') %>";
      window.angellist_pic = "<%= image_url('angellist.jpg') %>";
      window.newsapikey = "<%= Rails.application.credentials.news[:api_key] %>"
      window.stockapikey = "<%= Rails.application.credentials.stockapi[:api_key] %>"
      window.iexapikey = "<%= Rails.application.credentials.iexapi[:api_key] %>"
    </script> 
  </head>

  <body data-theme="light">
    <%= yield %>
  </body>
</html>
